#products-list .vbtn.style{
    font-size: 0.9rem;
    margin: 0;
   padding:05px 10px;
}

 .buy-btn{
  font-size: 1.2rem;
}

.vbtn-green{
    background-color: #08BC63;
}

.txt-farm{
    color: #08BC63!important;
    font-weight: bold;
}